.score {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.score form {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.score form input {
    padding: 0.7rem;
}

.score button {
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #218380;
    border: 1px solid #218380;
}

.score button:disabled {
    background-color: rgb(192, 190, 190);
    color: black;
    border: 1px solid grey;
}

.score form .invalid {
    border: none;
    border-radius: 1px;
    outline: 2px solid rgb(243, 42, 42);
}
